---
import type { Messages } from '../i18n/types';

interface Props {
	messages: Messages;
}

const { messages } = Astro.props;
---

<section class="section section--tight section--surface" id="process" aria-labelledby="process-heading">
	<div class="wrap">
		<h2 id="process-heading" class="heading-lg heading-lg--center">{messages.process.heading}</h2>
		<ol class="process-track">
			{
				messages.process.steps.map((step, i) => (
					<li class="process-track__item">
						<span class="process-track__num" aria-hidden="true">
							{i + 1}
						</span>
						<div>
							<strong class="process-track__title">{step.title}</strong>
							<p class="process-track__body">{step.body}</p>
						</div>
					</li>
				))
			}
		</ol>
	</div>
</section>
